<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mapper.UserMapper">

	<resultMap id="userMap" type="com.bs.beans.UserBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>

		<result property="username" column="username" javaType="java.lang.String"></result>
		<result property="password" column="password" javaType="java.lang.String"></result>
		<result property="usertype" column="usertype" javaType="java.lang.String"></result>
		<result property="sex" column="sex" javaType="java.lang.String"></result>
		<result property="birthday" column="birthday" javaType="java.lang.String"></result>

		<result property="email" column="email" javaType="java.lang.String"></result>
		<result property="phone" column="phone" javaType="java.lang.String"></result>
		<result property="imagepath" column="imagepath" javaType="java.lang.String"></result>
		<result property="score" column="score" javaType="java.lang.Integer"></result>
		<result property="userlevel" column="userlevel" javaType="java.lang.String"></result>

		<result property="createdate" column="createdate" javaType="java.lang.String"></result>
		<result property="status" column="status" javaType="java.lang.String"></result>
		<result property="signnum" column="signnum" javaType="java.lang.Integer"></result>
		<result property="signdate" column="signdate" javaType="java.lang.String"></result>
		<result property="idcard" column="idcard" javaType="java.lang.String"></result>
		<result property="question" column="question" javaType="java.lang.String"></result>
		<result property="answer" column="answer" javaType="java.lang.String"></result>

		<result property="remark1" column="remark1" javaType="java.lang.String"></result>
		<result property="remark2" column="remark2" javaType="java.lang.String"></result>
		<result property="remark3" column="remark3" javaType="java.lang.Integer"></result>
		<result property="remark4" column="remark4" javaType="java.lang.Integer"></result>
		<result property="remark5" column="remark1" javaType="java.lang.String"></result>
		<result property="remark6" column="remark2" javaType="java.lang.String"></result>
	</resultMap>

	<insert id="insert" parameterType="com.bs.beans.UserBean">
		insert into t_user(id,
		username,
		password,
		usertype,
		sex,
		birthday,

		email,
		phone,
		imagepath,
		score,
		userlevel,

		createdate,
		status,
		signnum,
		signdate,
		idcard,
		question,
		answer,

		remark1,
		remark2,
		remark3,
		remark4,
		remark5,
		remark6
		)
		values(#{id},
		#{username},
		#{password},
		#{usertype},
		#{sex},
		#{birthday},

		#{email},
		#{phone},
		#{imagepath},
		#{score},
		#{userlevel},

		#{createdate},
		#{status},
		#{signnum},
		#{signdate},
		#{idcard},
		#{question},
		#{answer},

		#{remark1},
		#{remark2},
		#{remark3},
		#{remark4},
		#{remark5},
		#{remark6})
	</insert>

	<update id="update" parameterType="com.bs.beans.UserBean">
		update t_user set
		username =
		#{username},
		password = #{password},
		usertype = #{usertype},
		sex = #{sex},
		birthday = #{birthday},

		email = #{email},
		phone = #{phone},
		imagepath = #{imagepath},
		score = #{score},
		userlevel = #{userlevel},

		createdate = #{createdate},
		status = #{status},
		signnum = #{signnum},
		signdate = #{signdate},
		idcard = #{idcard},
		question = #{question},
		answer = #{answer},

		remark1 = #{remark1},
		remark2 = #{remark2},
		remark3 = #{remark3},
		remark4 = #{remark4},
		remark5 = #{remark5},
		remark6 = #{remark6}
		
		where id = #{id}
	</update>

	<delete id="delete">
		delete from t_user where id = #{id}
	</delete>

	<select id="getById" resultType="com.bs.beans.UserBean">
		select * from t_user
		where id =
		#{id}
	</select>

	<select id="getAll" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user
		<where>
			<if test="parameter.username != null and parameter.username !=''">
				and username like CONCAT('%',#{parameter.username},'%')
			</if>
			<if test="parameter.usertype != null and parameter.usertype != ''">
				and usertype = #{parameter.usertype}
			</if>
			<if test="parameter.status != null and parameter.status != ''">
				and status = #{parameter.status}
			</if>
		</where>
		Limit #{parameter.pageStart},#{parameter.pageSize}
	</select>

	<select id="getCount" resultType="java.lang.Integer"
		parameterType="InParams">
		select count(*) from t_user
		<where>
			<if test="parameter.username != null and parameter.username !=''">
				and username like CONCAT('%',#{parameter.username},'%')
			</if>
			<if test="parameter.usertype != null and parameter.usertype != ''">
				and usertype = #{parameter.usertype}
			</if>
		</where>
	</select>

	<select id="getLastOne" resultType="com.bs.beans.UserBean">
		select * from t_user order by
		id desc limit 1
	</select>

	<update id="update2" parameterType="com.bs.beans.UserBean">
		update t_user
		set
		where id =
		#{id}
	</update>

	<update id="update3" parameterType="com.bs.beans.UserBean">
		update t_user
		set
		where id =
		#{id}
	</update>

	<update id="update4" parameterType="com.bs.beans.UserBean">
		update t_user
		set
		where id =
		#{id}
	</update>

	<update id="update5" parameterType="com.bs.beans.UserBean">
		update t_user
		set
		where id =
		#{id}
	</update>

	<delete id="delete2" parameterType="InParams">
		delete from t_user where id =
		#{parameter.id}
	</delete>

	<delete id="delete3" parameterType="InParams">
		delete from t_user where id =
		#{parameter.id}
	</delete>

	<select id="getAll2" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user

		Limit
		#{parameter.pageStart},#{parameter.pageSize}
	</select>

	<select id="getAll3" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user

		Limit
		#{parameter.pageStart},#{parameter.pageSize}
	</select>

	<select id="getAll4" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user

		Limit
		#{parameter.pageStart},#{parameter.pageSize}
	</select>

	<select id="getAll5" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user

		Limit
		#{parameter.pageStart},#{parameter.pageSize}
	</select>

	<select id="getOne1" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user
		where
		true
		and username = #{parameter.username}
	</select>

	<select id="getOne2" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user
		where
		true
	</select>

	<select id="getOne3" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user
		where
		true
	</select>

	<select id="getOne4" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user
		where
		true
	</select>

	<select id="getOne5" resultType="com.bs.beans.UserBean"
		parameterType="InParams">
		select * from t_user
		where
		true
	</select>
		<select id="getScalar" resultType="java.lang.Integer"
		parameterType="InParams">
		select count(*) from t_user as a
	</select>
	<select id="getScalar1" resultType="java.lang.Integer"
		parameterType="InParams">
		select count(*) from t_user as a
	</select>
	<select id="getScalar2" resultType="java.lang.Integer"
		parameterType="InParams">
		select count(*) from t_user as a
	</select>


	<select id="login" resultType="UserBean">
		select * from t_user
		where username
		= #{username} and password = #{password} and usertype = '${usertype}'
	</select>

	<update id="saveMyInfo" parameterType="com.bs.beans.UserBean">
		update t_user set
		username = #{username},
		sex = #{sex},
		birthday = #{birthday},

		email = #{email},
		phone = #{phone}
		
		where id = #{id}
	</update>

	<update id="modifyPwd">
		update t_user set password = #{password}
		where id =
		#{id}
	</update>

	<update id="checkStatus" parameterType="com.bs.beans.UserBean">
		update t_user set
		status =
		#{status},idcard=#{idcard}
		where id = #{id}
	</update>

	<update id="calcScore" parameterType="com.bs.beans.UserBean">
		update t_user set
		sorce =
		sorce + #{sorce}
		where id = #{id}
	</update>
</mapper>